// CTA SECTION CSS

//======= VARIABLES
@use "../variables" as vars; //GLOBAL VARIABLES

//CTA
.CTA-Section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.3rem;

  .WRAPPER {
    height: 100%;
    width: 100%;
    max-width: vars.$max-width;

    display: flex;

    .img {
      height: 32rem;
      width: 100%;

      display: flex;
      justify-content: center;
      flex-direction: column;
      object-fit: cover;
      align-items: center;
      text-align: center;
      gap: 15px;

      background: url("/public/imgs/CTA.png") center center / cover;

      color: white;
      font-family: vars.$font-header;
      .header-title {
        font-size: clamp(50px, 5vw, 60px);
        width: 80%;
        font-weight: 600;
        letter-spacing: 3px;
        text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7);

        .Colored {
          color: vars.$lightColor;
        }
      }

      .desc {
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 5px;
        font-size: clamp(16px, 2.5vw, 22px);
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 1.7;
        opacity: 0.9;
        text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7);
        background-color: rgba(0, 0, 0, 0.6);

        //RESPONSIVENESS
        @media (max-width: 600px) {
          width: 90%;
        }
      }
    }
  }
}
