// HERO SECTION CSS

//======= VARIABLES
@use "../variables" as vars; //GLOBAL VARIABLES

//Hero
.Hero-Section {
  //   height: 70vh;
  // min-height: 600px;

  height: 70rem;

  display: flex;
  justify-content: center;
  align-items: center;

  .WRAPPER {
    height: 100%;
    width: 100%;
    max-width: vars.$max-width;

    display: flex;
    justify-content: center;

    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);

    .img {
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: center;
      flex-direction: column;
      object-fit: cover;
      align-items: center;

      background: url("/public/imgs/Hero-1.svg") center center / cover;

      .content {
        width: 90%;
        padding: 20px 20px;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: start;
        gap: 30px;

        opacity: 0;
        transform: translateX(-50px);
        animation: fadeInFromLeft 1s ease-out forwards;
        animation-delay: 0.5s;

        color: white;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);

        .Header-Text {
          font-size: clamp(35px, 5vw, 60px);

          font-weight: bold;
          max-width: 700px;
        }

        .desc {
          font-size: clamp(20px, 3vw, 24px);
          opacity: 0.8;
          max-width: 790px;
        }

        .button-section {
          display: flex;
          gap: 25px;
          padding: 10px;

          button {
            max-width: 450px;
            min-width: 150px;

            background-color: vars.$buttonColor;
            color: white;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.477);

            border: none;
            border-radius: 10px;

            padding: 15px 45px;

            font-size: clamp(17px, 2.5vw, 24px);
            font-weight: 600;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

            transition: 0.15s ease;

            &:hover {
              background-color: vars.$buttonHover;
            }
          }

          .contactUs {
            padding-left: 70px;
            padding-right: 70px;
            background-color: vars.$buttonColor2;
          }

          @media (max-width: 400px) {
            display: flex;
            flex-direction: column;
            padding: 0;
          }
        }
      }
    }
  }
}
