// PROCESS SECTION CSS

//======= VARIABLES
@use "../variables" as vars; //GLOBAL VARIABLES

//Process
.Process-Section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;

  .WRAPPER {
    height: 100%;
    width: 100%;
    padding-top: 4rem;
    max-width: vars.$max-width;

    display: flex;

    .content {
      padding-left: 5%;
      padding-right: 5%;
      width: 100%;

      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 5rem;
      font-family: vars.$font-header;

      //RESPONSIVENESS
      @media (max-width: 900px) {
        gap: 25px;
      }

      .Header {
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);

        width: 80%;
        color: black;

        .header-title {
          font-size: clamp(30px, 4vw, 38px);
          font-weight: 600;

          .Colored {
            color: vars.$buttonColor;
          }
        }

        .header-sub {
          color: black;
          font-size: clamp(16px, 2.5vw, 22px);
        }
      }

      .process {
        padding: 10px;

        display: flex;
        gap: 20px;
        width: 100%;

        .item {
          display: flex;
          justify-content: start;
          align-items: center;

          flex-direction: column;
          object-fit: cover;
          gap: 25px;

          width: 100%;
          min-width: 200px;

          padding-top: 15px;

          &.pad-top {
            padding-top: 12rem;

            //RESPONSIVENESS
            @media (max-width: 994px) {
              padding-top: 15px;
            }
          }

          .img {
            width: clamp(6rem, 15vw, 7rem);
            height: clamp(6rem, 15vw, 7rem);

            &.img1 {
              background: url("/public/imgs/process01.png") center center /
                cover;
            }

            &.img2 {
              background: url("/public/imgs/process02.png") center center /
                cover;
            }

            &.img3 {
              background: url("/public/imgs/process03.png") center center /
                cover;
            }

            &.img4 {
              background: url("/public/imgs/process04.png") center center /
                cover;
            }
          }

          .desc {
            text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

            font-size: clamp(18px, 2.5vw, 22px);
            width: 85%;
            line-height: 2.8rem;

            max-width: 300px;

            //RESPONSIVENESS
            @media (max-width: 900px) {
              line-height: 2.5rem;
            }
          }
        }
      }
    }
  }

  //RESPONSIVENESS
  @media (max-width: 500px) {
    padding-bottom: 70px;
  }
}
