// SERVICES SECTION CSS

//======= VARIABLES
@use "../variables" as vars; //GLOBAL VARIABLES

//Services
.Service-Section {
  margin-top: -5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .WRAPPER {
    height: 100%;
    width: 100%;
    max-width: vars.$max-width;

    display: flex;
    align-items: center;
    justify-content: center;

    .content {
      width: 90%;
      margin: 0 auto;

      display: flex;
      justify-content: center;

      text-align: start;

      .item {
        background-color: vars.$backgroundColor;
        padding: 0;
        min-height: 300px;
        max-width: 900px;
        min-width: 300px;

        display: flex;
        flex-direction: column;
        align-items: center;

        &.Colored {
          background-color: #f3f3f0;
        }

        @media (max-width: 970px) {
          min-height: 200px;
        }

        .line {
          height: 4px;
          width: 100%;
          background-color: white;
          margin-bottom: 10px;

          &.Colored {
            background-color: vars.$backgroundColor;
          }
        }

        .header {
          padding-top: 10px;
          padding-left: 15px;
          display: flex;
          justify-content: start;
          align-items: center;
          text-align: start;
          gap: 10px;
          width: 90%;
          color: white;
          font-family: vars.$font-header;
          margin-bottom: 10px;

          &.Colored {
            color: black;
          }

          .icon {
            height: 3rem;
            width: 3rem;

            &.ic1 {
              object-fit: cover;
              background: url("/public/imgs/Icon1.png") center center / cover;
            }

            &.ic2 {
              object-fit: cover;
              background: url("/public/imgs/Icon2.png") center center / cover;
            }

            &.ic3 {
              object-fit: cover;
              background: url("/public/imgs/Icon3.png") center center / cover;
            }
          }

          .title {
            height: 100%;
            width: 100%;
            font-weight: 700;
            font-size: clamp(23px, 2vw, 28px);
            padding-top: 20px;
            text-align: start;
            text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
          }
        }

        .desc {
          color: white;
          font-family: vars.$font-header;
          padding-left: 15px;
          width: 90%;
          text-align: start;
          font-size: clamp(18px, 1.5vw, 22px);
          text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.63);
          font-weight: lighter;
          margin-bottom: 40px;

          &.Colored {
            color: black;
            text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }
}

//Lowkey got tired of working on this bullshit which is why it is so sloppy.
